.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

/vendor/
/theme/
uploads/banners/*
!uploads/banners/index.html
uploads/news/*
!uploads/news/index.html
uploads/plans/*
!uploads/plans/index.html
uploads/purchase/*
!uploads/purchase/index.html
uploads/business/*
!uploads/business/index.html
uploads/document/*
!uploads/document/index.html
uploads/downloads/*
!uploads/downloads/index.html
uploads/users/*
!uploads/users/index.html